name: test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-ray-proxy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Run test-ray-proxy
      run: |
        cd tests; pytest
